<div class="wrapper">
  <h1>Rechnungen einreichen</h1>

  <input class="inbut" type="button" value="Neue Rechnung" />

  <app-rechnung-table></app-rechnung-table>

  <router-outlet></router-outlet>
</div>