.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

input {
    margin: 1rem;
    padding: 0.5rem;
    background-color: lightseagreen;
}