/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

html, body, #root {
    min-width: 100vw;
    min-height: 100vh;
}