<table border="1">
    <tr>
        <th>Nummer</th>
        <th>Datum</th>
        <th>Betrag</th>
        <th>Arzt</th>
        <th>Aktion</th>
    </tr>
    @for (rechnung of rechnungen; track $index) {
    <tr>
        <td>{{ rechnung.nummer }}</td>
        <td>{{ rechnung.datum }}</td>
        <td>{{ rechnung.betrag }}€</td>
        <td>{{ rechnung.arzt }}</td>
        <td style="background-color: lightcoral" (click)="removeRechnung(rechnung.nummer)">
            X
        </td>
    </tr>
    }
    <tr [hidden]="hidden">
        <td>{{nextNumber()}}</td>
        <td><input type="date" name="date"></td>
        <td><input type="number" name="betrag">€</td>
        <td><input type="text" name="arzt"></td>
        <td (click)="null">+</td>
    </tr>
</table>